@import "../../style/variable"
@import "../../style/helper"

.playlist-container
  position: fixed
  top: 0
  right: 0
  left: 0
  bottom: 0
  height: 100%
  overflow-y: auto
  overflow-x: hidden
  background-color: #fff
  &::-webkit-scrollbar
    display: none
  .playlist-content
    position: relative
    @include setPadding((left, right), (left: pxToRem(16), right: pxToRem(16)))
    .playlist-content-layer
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: pxToRem(-16)
      z-index: -1
    .playlist-header
      position: fixed
      top: 0
      left: 0
      right: 0
      display: flex
      justify-content: space-between
      align-items: center
      height: pxToRem(30)
      z-index: 24
      @include setPadding(top, pxToRem(10))
      @include setPadding((left, right, top, bottom), (top: pxToRem(10), left: pxToRem(16), right: pxToRem(16), bottom: pxToRem(10)))
      .playlist-header-left
        flex: 1
        display: flex
        align-items: center
        font-size: 0
        position: relative
        .icon-back
          font-size: 26px
        .playlist-header-text, .playlist-searchInput
          font-size: 14px
          @include setPadding(left, pxToRem(14))
        .playlist-header-text
          color: $playlist_header_text_color
        .playlist-searchInput
          flex: 1
          display: inline-block
          margin-left: pxToRem(12)
          border: none
          outline: none
          color: #ccc
          font-size: 13px
          background-color: transparent
          @include thinBorder(bottom)
          @include setPadding((top, bottom, left, right), (top: pxToRem(8), bottom: pxToRem(8), left: 0, right: 0))
        .icon-login-close
          position: absolute
          right: 2px
          top: 50%
          transform: translateY(-50%)
          font-size: 20px
      .playlist-header-right
        display: flex
        align-items: center
        .icon-search, .icon-more
          font-size: 24px
        .icon-search
          margin-right: pxToRem(20)
    .playlist-header-placeholder
      height: pxToRem(50)
      margin-bottom: pxToRem(20)
      background-color: transparent
    .playlist-show-content
      display: flex
      align-items: flex-start
      margin-bottom: pxToRem(10)
      .playlist-show-imageContainer
        flex-shrink: 0
        position: relative
        width: pxToRem(120)
        height: pxToRem(120)
        background-color: cadetblue
        border-radius: 8px
        overflow: hidden
        .show-image
          position: absolute
          left: 0
          top: 0
          width: 100%
        .playlist-playCount-container
          position: absolute
          right: pxToRem(4)
          top: pxToRem(4)
          font-size: 0
          z-index: 1
          .icon-recommend-playCount
            font-size: 12px
            margin-right: pxToRem(2)
          .playlist-playCount
            font-size: 12px
            color: #fff
      .playlist-show-info
        flex: 0 0 50%
        min-width: 0
        @include setPadding(left, pxToRem(16))
        font-size: 0
        display: flex
        flex-direction: column
        justify-content: space-between
        height: pxToRem(110)
        .playlist-show-infoTop
          flex-shrink: 0
          .playlist-show-title
            display: inline-block
            font-size: 16px
            color: #fff
            margin-bottom: pxToRem(10)
            font:
              weight: bold
              family: "Hiragino Sans GB"
          .playlist-creator-info
            display: flex
            align-items: center
            .playlist-creator-imageContainer
              position: relative
              width: pxToRem(26)
              height: pxToRem(26)
              background-color: cornflowerblue
              border-radius: 50%
              overflow: hidden
              .playlist-creator-image
                position: absolute
                left: 0
                top: 0
                width: 100%
            .playlist-creatorName, .playlist-login
              display: inline-block
              @include setPadding(left, pxToRem(6))
              font-size: 12px
              color: #fff
        .playlist-description
          font-size: 12px
          color: #ccc
          margin: 0
          line-height: 16px
          white-space: nowrap
          text-overflow: ellipsis
          overflow: hidden
    .playlist-operation-content
      display: flex
      justify-content: space-around
      align-items: center
      @include setPadding((top, bottom), pxToRem(16))
      .playlist-operation-item
        display: flex
        flex-direction: column
        align-items: center
        font-size: 0
        .icon-player-comment, .icon-share, .icon-download, .icon-multi-select
          font-size: 20px
          margin-bottom: pxToRem(6)
        .playlist-operation-text
          font-size: 12px
          color: #fff
  .songList-content
    z-index: 1
    height: 160%
    .no_favoriteMusic
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      font-size: 14px
      color: #ccc
    .songList-header
      position: sticky
      top: 50px
      display: flex
      align-items: center
      background-color: #fff
      border-top-left-radius: 14px
      border-top-right-radius: 14px
      @include setPadding((top, bottom, left, right), (top: pxToRem(10), bottom: pxToRem(10), left: pxToRem(16), right: pxToRem(16)))
      overflow: hidden
      z-index: 6
      .icon-miniPlayer_pause
        font-size: 28px
      .songList-header-text-container
        @include setPadding(left, pxToRem(12))
        font-size: 0
        .songList-header-text
          font-size: 14px
        .songList-count
          font-size: 12px
          color: #333
    .songList-list-content
      height: 100%
      @include setPadding((left, right), pxToRem(16))
      .list-scroll-container::-webkit-scrollbar
        display: none
      .song-item
        display: flex
        align-items: center
        .song-serialNumber, .icon-horn
          width: pxToRem(30)
          text-align: center
        .song-serialNumber
          font-size: 14px
          color: #9F9F9F
        .icon-horn
          font-size: 20px
        .song-right-container
          flex: 1
          min-width: 0
          display: flex
          justify-content: space-between
          align-items: center
          @include setPadding(left, pxToRem(12))
          .song-info
            flex: 1
            min-width: 0
            font-size: 0
            .song-name
              display: inline-block
              width: 100%
              overflow: hidden
              text-overflow: ellipsis
              white-space: nowrap
              @include setPadding(bottom, pxToRem(8))
              font-size: 13px
            .song-singer-container
              text-overflow: ellipsis
              white-space: nowrap
              overflow: hidden
              font-size: 12px
              color: #808080
              transform: scale(.9)
              transform-origin: left
          .song-controls-container
            @include setPadding(left, pxToRem(10))
            .icon-video, .icon-more
              font-size: 20px
              &:before
                color: #B3B3B3
            .icon-video
              margin-right: 14px
