@import "../../style/helper"

.slide-banner
  position: relative
  width: 100%
  .slide-banner-wrapper
    min-height: pxToRem(1)
    overflow: hidden
    width: 100%
    border-radius: 8px
    .slide-banner-scroll
      white-space: nowrap
      font-size: 0
      .slide-item
        width: 100%
        display: inline-block
        text-align: center
        img
          width: 100%
    .docs-wrapper
      position: absolute
      bottom: pxToRem(4)
      left: 50%
      transform: translateX(-50%)
      .dot, .active
        display: inline-block
        margin: 0 pxToRem(5)
        width: pxToRem(8)
        height: pxToRem(8)
        border-radius: 50%
        background: #eee
      .active
        width: pxToRem(20)
        border-radius: 5px