$text_color: #838383
$icon_menu_color: #333333
$icon_search_color: #373737
$official_color: #FF1D11

$type_icon_color: #fff
$type_text_color: #3D3D3D

$icon_width: 50px
$icon_height: 50px
$icon_background_highLight: .3
$icon_border_color: #fff

$header_background_color: #fff
$header_href_color: #333333

$recommend_playlist_text_color: #B9B9B9
$recommend_title_text_color: #323232
$recommend_more_text_color: #333333
$recommend_more_border_color: #E6E6E6
$recommend_playlist_count_color: #fff
$recommend_icon_play_border_color: #E6E6E6

$hot_wind_vane_title_color: #fff
$hot_wind_vane_background_color_black: #010101
$hot_wind_vane_background_color_blue: #92B5C9
$hot_wind_vane_background_color_gray: #5E7085
$hot_wind_vane_aqua: #008B8B
$hot_wind_vane_list_item_singer_color: #CAD4E4