$text_color: #838383
$icon_menu_color: #333333
$icon_search_color: #373737
$official_color: #FF1D11

$type_icon_color: #fff
$type_text_color: #3D3D3D

$icon_width: 50px
$icon_height: 50px
$icon_background_highLight: .3
$icon_border_color: #fff

$header_background_color: #fff
$header_href_color: #333333

$recommend_playlist_text_color: #B9B9B9
$recommend_title_text_color: #323232
$recommend_more_text_color: #333333
$recommend_more_border_color: #E6E6E6
$recommend_playlist_count_color: #fff
$recommend_icon_play_border_color: #E6E6E6

$hot_wind_vane_title_color: #fff
$hot_wind_vane_background_color_black: #010101
$hot_wind_vane_background_color_blue: #92B5C9
$hot_wind_vane_background_color_gray: #5E7085
$hot_wind_vane_aqua: #008B8B
$hot_wind_vane_list_item_singer_color: #CAD4E4

$normal_player_background_color: #333333
$normal_player_singer_color: #A2A6A7
$normal_player_color: #ffffff

$normal_player_progress_background: #615E57
$normal_player_progress_ball_background: #ffffff
$normal_player_progress_percent: #918E87

$normal_player_startTime_color: #AFAEAA
$normal_player_endTime_color: #AFAEAA

$normal_player_icons_color: #CFCECC

$mini_player_background_color: #ffffff

$user_info_color: #ffffff
$user_vinyl_color: #717171
$user_open_vip_color: #888E8E
$management_item_text_color: #ffffff

$private_fm_text_color: #A1A1A1
$play_count_text_color: #989898

$playlist_type_text_color: #999999

$playlist_type_router_text_color: #000000

$favorite_background_color_left_top: #AEAEAE
$favorite_background_color_right_bottom: #454545

$login_border_color: #626166

$login_background_color: #DC2C1F
$login_logo_background_color: #F12A25

$send_verification_code_seconds_color: #9C9C9C

$login_description_text_color: #ffffff

$playlist_header_text_color: #ffffff