@import-normalize html, body {
    /*padding: 0;*/
    font-size: 13.3333333333333vw;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei',
        'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-y: hidden;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

#root {
    height: 100%;
    overflow: hidden;
}
